<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserTrendDao">
    <select id="findAll" resultType="com.baizhi.entity.UserTrend" parameterType="String">
        SELECT COUNT(*) AS count , month (creat_date) as MONTH
        FROM `user`
        WHERE sex=#{sex}
        GROUP BY month (creat_date)
    </select>

</mapper>